<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define YaifEncoder_TargetDir=$(var.YaifEncoder.TargetDir)?>
  <Product Id="{7FE29CD6-E478-4BAD-9FB5-FAFFC0208EFF}" Name="YaifEncoder" Language="1033" Version="0.0.1.2" Manufacturer="DeaSTLSolutions" UpgradeCode="6c93cd94-2d72-4c89-8ac2-9e9f80b59343">
    <Package 
      Compressed="yes"
      InstallerVersion="200"  
      InstallScope="perMachine" 
    />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    

  
  <MediaTemplate EmbedCab="yes"/>


	<Directory Id="TARGETDIR"
				  Name="SourceDir">
		<Directory Id="ProgramFilesFolder">
			<Directory Id="DIR_MyProgram"
						  Name="YaifEncoder" />
		</Directory>
   <Directory Id="DesktopFolder" SourceName="Desktop" />
    <Directory Id="MergeRedirectFolder">
      <Component Id="MyExeComponent" Guid="*">
        <File Id="MyExeFile" Source="$(var.ExeSourcePath)" KeyPath="yes">
          <Shortcut
            Id="DesktopShortcut"
            Directory="DesktopFolder"
            Name="$(var.ShortcutName)"
            WorkingDirectory="MergeRedirectFolder" />
        </File>
      </Component>
    </Directory>

	</Directory>



  <DirectoryRef Id="DIR_MyProgram">
    <Component Id="ToYaif.ico" Guid="e555ebea-4882-425f-8858-f68ffd5c124f">
        <File Id="ToYaif.ico" Name="ToYaif.ico" Source="$(var.YaifEncoder.ProjectDir)ToYaif.ico" />
      </Component>
      <Component Id="YaifEncoder.exe" Guid="61b8e92c-9e9c-49cd-a170-7e9eb6aa57b4">
        <File Id="YaifEncoder.exe" Name="YaifEncoder.exe" Source="$(var.YaifEncoder_TargetDir)YaifEncoder.exe" />
      </Component>
      <Component Id="AForge.dll" Guid="ac1502c8-ddfd-4713-abd2-bfd83b75b748">
        <File Id="AForge.dll" Name="AForge.dll" Source="$(var.YaifEncoder_TargetDir)AForge.dll" />
      </Component>
      <Component Id="AForge.Imaging.dll" Guid="4bf386e2-e351-4d17-829d-ae0bffed8d18">
        <File Id="AForge.Imaging.dll" Name="AForge.Imaging.dll" Source="$(var.YaifEncoder_TargetDir)AForge.Imaging.dll" />
      </Component>
      <Component Id="AForge.Math.dll" Guid="1b7ae129-aae3-424c-87b6-3dc68450d152">
        <File Id="AForge.Math.dll" Name="AForge.Math.dll" Source="$(var.YaifEncoder_TargetDir)AForge.Math.dll" />
      </Component>
      <Component Id="YaifEncoder.pdb" Guid="bbd5413b-fb83-4d8c-a721-78c36ecf95bb">
        <File Id="YaifEncoder.pdb" Name="YaifEncoder.pdb" Source="$(var.YaifEncoder_TargetDir)YaifEncoder.pdb" />
      </Component>

  </DirectoryRef>

    
  <Feature Id="FileToInstallFeature"
				Title="Wix Basics Feature"
				Level="1">
		<ComponentRef Id="ToYaif.ico"/>
    <ComponentRef Id="YaifEncoder.exe"/>
    <ComponentRef Id="AForge.dll"/>
    <ComponentRef Id="AForge.Imaging.dll"/>
    <ComponentRef Id="AForge.Math.dll"/>
    <ComponentRef Id="YaifEncoder.pdb"/>
    <ComponentRef Id="CMP_FileAccociation"/>
    
	</Feature>



  


    
      
  </Product>
</Wix>
